*.directory
*~
.*.sw[p,o]
/build
tags
.swp.*
.kdev4/
*.kdev4
CMakeLists.txt.user
*.qmlc
/build*/
/compile_commands.json
.clangd
.idea
/cmake-build*
.cache
*.log
*.pyc
*.so
/tmp
/src
/pkg
.dev
*.zst
*.deb
*.rpm